@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background-light dark:bg-background-dark;
        color: var(--color-text);
    }

    .text-primary {
        color: var(--color-primary);
    }

    .bg-primary {
        background-color: var(--color-primary);
    }
}